<h1>Welcome to FlowFlow</h1>
<p>I am currently heavily refactoring the application to use Ruby 3.x and Rails 7.x. Stay tuned! :)</p>
<p>You can find all stations <%= link_to "here", api_stations_path %></p>