<!--this will be shown for both /search and inside the turbo-frame with
id="search_results"-->
<turbo-frame id="<%= params.fetch(:turbo_frame, "search_results") %>">
  <ul role="listbox" data-combobox-target="list">
    <% @stations.each do |station| %>
      <li>
        <%= link_to "#{station.water_body_name} (#{station.name})", station_path(station),
                    id: dom_id(station, :search_result), role: "option", class: "aria-selected:outline-black" %>
      </li>
    <% end %>
  </ul>
</turbo-frame>

<!--this will be ONLY shown at /search-->
<h1>will this be shown??</h1>

